###################### direnv – unclutter your .profile  #######################
################################################################################
# https://direnv.net/                                                          #
# This file requires direnv to be installed and enabled to work.               #
# See: https://direnv.net/docs/installation.html                               #
################################################################################

function no_fnm() { if command -v 'fnm' >/dev/null; then return 1; else return 0; fi; }

# Automatically install fnm (Fast Node Manager) and the correct Node version.
# https://github.com/Schniz/fnm
use_fnm() {
  if no_fnm; then
    echo -e "This .envrc file requires fnm (Fast Node Manager) to be installed."
    echo -e "Refer to the fnm readme for instructions on how to install it on your system:\n  https://github.com/Schniz/fnm?tab=readme-ov-file#installation"
    return 1
  fi
  fnm use < .nvmrc
}

watch_file .nvmrc
use_fnm
layout node

watch_file .env
dotenv_if_exists .env

# .env.local is gitignored and can be used for local overrides.
watch_file .env.local
dotenv_if_exists .env.local

PATH_add bin
