# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular
package-lock.json
libs/md-converted/src/mds
/node_modules
/.idea
/.vscode
/tmp
/.angular
src/index.html
