<header class="flex justify-center max-w-6xl px-2 py-8 mx-auto">
  <ul class="flex justify-center contact-list">
    <li class="hidden sm:block">
      <a
        href="https://www.openstreetmap.org/#map=18/47.383318/8.529403"
        target="_blank"
        rel="noopener"
        title="Home Area on OpenStreetMap"
        class="text-blue-500 hover:opacity-85 hover:underline"
      >
        <span class="hidden md:inline">8005 </span>
        <span class="inline-block mr-0"> Zürich </span>
        <span class="hidden ml-0 xl:inline-block">, Switzerland</span>
      </a>
    </li>

    <li>
      <a
        href="mailto:me@casaper.dev"
        target="_blank"
        rel="noopener"
        title="Email Contact"
        class="text-blue-500 hover:opacity-85 hover:underline"
      >
        me&#64;casaper.dev
      </a>
    </li>

    <li>
      <a
        href="tel:0041762862998"
        target="_blank"
        rel="noopener"
        title="Phone Contact +41 76 286 29 98"
        class="text-blue-500 hover:opacity-85 hover:underline"
      >
        <span class="hidden md:inline"> 076 286 29 98 </span>
        <span class="hidden sm:inline md:hidden"> 0762862998 </span>
        <span class="inline sm:hidden"> 📞 </span>
      </a>
    </li>

    <li>
      <a
        href="https://www.linkedin.com/in/kaspar-vollenweider/"
        target="_blank"
        rel="noopener"
        title="LinkedIn.com Profile"
        class="text-blue-500 hover:opacity-85 hover:underline"
      >
        LinkedIn
      </a>
    </li>

    <li>
      <a
        href="https://github.com/casaper/"
        target="_blank"
        rel="noopener"
        title="GitHub.com Profile"
        class="text-blue-500 hover:opacity-85 hover:underline"
      >
        GitHub
      </a>
    </li>
  </ul>
</header>
